<div class="wrapper">
    <app-header class="header"></app-header>
    <mat-card class="card">
        <mat-card-title>Sign Up</mat-card-title>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="formField">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required minlength="minUsernameLength">
                <mat-error>
                    username is required and must be at least {{minUsernameLength}} characters long
                </mat-error>
            </mat-form-field>
            <br>
            <div formGroupName="passwords">
                <mat-form-field class="formField">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="'password'" formControlName="password" required minlength="minPasswordLength">
                    <mat-error>
                        password is required and must be at least {{minPasswordLength}} characters long
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="formField">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="'password'" formControlName="confirmPassword" required [errorStateMatcher]="passwordsDoNotMatchErrorMatcher">
                    <mat-error>
                        passwords must match
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
        </form>
    </mat-card>
</div>