<div class="jcp-center-style jcp-page-card-style">
    <mat-card>
        <mat-card-title class="jcp-title-style">{{title}}</mat-card-title>
        <mat-card-content class="jcp-content-style">
            <app-dynamic-form [formComponentWrapper]="formComponentWrapper"></app-dynamic-form>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="formLink">
            <a [attr.aria-label]="formLink.ariaLabel" [routerLink]="formLink.link" mat-button>{{formLink.text}}</a>
        </mat-card-actions>
    </mat-card>
</div>