<div class="wrapper">
    <mat-card class="card">
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="formField">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required minlength="minUsernameLength">
                <mat-error>
                    username is required and must be at least {{minUsernameLength}} characters long
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="formField">
                <mat-label>Password</mat-label>
                <input matInput [type]="'password'" formControlName="password" required minlength="minPasswordLength">
                <mat-error>
                    password is required and must be at least {{minPasswordLength}} characters long
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </mat-card>
</div>