<div class="jcp-center-style jcp-page-card-style">
  <mat-card>
    <mat-card-title class="jcp-title-style">
      <div class=jcp-title-body-style>
        Profile
        @if(error){
        &nbsp;<mat-icon style="color: red;">error</mat-icon>
        } @else if(!isUserInfoComplete) {
        &nbsp;<mat-icon style="color: orange;">error</mat-icon>
        }
      </div>
    </mat-card-title>
    <mat-card-content class="jcp-content-style">
      @if(error){
      <p>{{getErrorDescription()}}</p>
      } @else if(userInfo){
      <p>{{userInfo.given_name}} {{userInfo.family_name}}</p>
      @if(userInfo.email) {
      <p>{{userInfo.email}}</p>
      }
      } @else {
      <p>We cannot show you your profile information because you have not provided consent.</p>
      }
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="updateConsent()" mat-button>Update consent</button>
    </mat-card-actions>
  </mat-card>
</div>